
<form action="{% url "articles:search" %}">
<div class="input-group">

	<div class="form-group">
		<label for="message" class="col-md-8 control-label" name="q">Check for plagiarised content</label>
		<div class="col-md-12">
			<textarea class="form-control" rows="10" cols="50" name="q" required /></textarea> <br><br>  
		</div>
	</div> 
	</div>
	        <span class="input-group-btn text-center">
            <button class="btn btn-default" type="submit">
                <span class="fa fa-search"></span>
            </button>
        </span> 

</form>









