{% extends "base.html" %}
{% load static %}


{% block cover %}

                    <section id="cover">
                <div id="cover-caption">
                    <div class="container">
                        <div class="col-sm-10 col-sm-offset-1">
                            <h1 class="display-4">WELCOME TO ORIGINARITIES</h1>
                            <p>Plag Checker compares your document with billions of others and highlights relevant correlations between them. It enables our users to identify fraudsters by checking.</p>

                            <form action="" class="form-inline">
                                <div class="form-group"> 
                                    <label class="sr-only">Name</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="For Quality Education">
                                </div>

                                <div class="form-group"> 
                                    <label class="sr-only">E-mail</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="asid@info.com">
                                </div>

                                <button type="submit" class="btn btn-success btn-md">Okey Go!</button>
                            </form>
                            <br>


                            <a href="#what-we-do" class="btn btn-secondary-outline btn-sm" role="button"> &darr;

                            </a>
                        </div>
                    </div>
                </div>
            </section>

{% endblock %}

{% block cards %}







            <section id="what-we-do">
                <div class="section-content">
                    <div class="container">
                        <h2>How it Works</h2>
                        <p class="lead">Improve Student Writing with Instant Feedback as They Revise, Revision is essential to great writing. Help students become better writers with specific, actionable feedback throughout the writing process. Engage students in a supportive writing space that extends the reach of instruction and aligns with learning outcomes. Revision is essential to great writing. Help students become better writers with specific, actionable feedback throughout the writing process. Engage students in a supportive writing space that extends the reach of instruction and aligns with learning outcomes. </p> <br><br>
                          
                        <h2>Benefites</h2>
                        <p class="lead">Engage students in a supportive writing space that extends the reach of instruction and aligns with learning outcomes. Revision is essential to great writing. Help students become better writers with specific, actionable feedback throughout the writing process. Engage students in a supportive writing space that extends the reach of instruction and aligns with learning outcomes. </p>
                        <br>
                    </div>
                </div>
            </section>
           <br>
            <br>
            <div class="container" id="card-section">
                        <h2 align="center">Facilities And System Workflow</h2> <br>
                <section >
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <div class="card-group">

                               <div class="card">
                                   <div class="card-block">
                                       <h3 class="card-title">Facilities</h3>
                                       <h6 class="card-subtitle">Support for our services</h6>
                                   </div>

                    <img src="{% static "img/second.jpg" %}" alt="The card middle" class="img-responsive img-rounded" id="card-image">

                                   <div class="card-block">
                                       <p class="card-text">
                                           Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, Donec velit neque.
                                       </p>
                                    <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModel">Learn more</button>

                                   </div>
                               </div>


                                <div class="card">
                                <div class="card-block">
                                       <h4 class="card-title">Strategy &amp; Planning</h4>
                                       <h6 class="card-subtitle">Timing and Workingflow</h6>
                                   </div>


                    <img src="{% static "img/positivo.jpg" %}" alt="The card middle" class="img-responsive img-rounded" id="card-image">

                                   <div class="card-block">
                                       <p class="card-text">
                                           Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, Donec velit neque.
                                       </p>
                                    <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModel">Learn more</button>

                                   </div>
                               </div>


                                   <div class="card">
                                   <div class="card-block">
                                       <h4 class="card-title">Pricing &amp; Timing</h4>
                                       <h6 class="card-subtitle">Support for our services</h6>
                                   </div>

                    <img src="{% static "img/first.jpg" %}" alt="The card middle" class="img-responsive img-rounded" id="card-image">

                                   <div class="card-block">
                                       <p class="card-text">
                                           Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, Donec velit neque.
                                       </p>
                                    <button type="button" class="btn btn-success-outline" data-toggle="modal" data-target="#myModel">Learn more</button>

                                   </div>
                               </div>
                            </div> <br>

                                   <button type="button-block" class="btn btn-primary-outline" data-toggle="modal" data-target="#myModel">Discover More Facilities</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <br><br><br>

{% endblock %}


{% block about %}
<section id="about">
      <div class="section-content">
          <div class="container">
              <div class="col-md-6">
              <div class="about-text">
               <h3>Get Involved </h3>
               <p class="lead"> Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.

               <br><br> Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta dapibus. Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
               </p>

               <h5> Follow us on the web </h5>
               <a href="#" class="btn btn-sm btn-secondary-outline">Facebook</a>
               <a href="#" class="btn btn-sm btn-secondary-outline">Twitter</a>
               <a href="#" class="btn btn-sm btn-secondary-outline">Youtube</a>

               </div>
            </div>
</section>
{% endblock %}

{% block ideas %}
            <section id="ideas">
                <div class="section-content">
                    <div class="container">
                        <h2 class="display-4" text-align="center">Your Views</h2>
                        <p class="lead">Improve Student Writing with Instant Feedback as They Revise, Revision is essential to great writing. Help students become better writers with specific, actionable feedback throughout the writing process. Engage students in a supportive writing space that extends the reach of instruction and aligns with learning outcomes. Revision is essential to great writing. Help students become better writers with specific, actionable feedback throughout the writing process. Engage students in a supportive writing space that extends the reach of instruction and aligns with learning outcomes. </p> <br><br>
    <div class="row">
    <div class="col-md-4">
        <blockquote>My grand told me that, To love my country, its a must My grand told me that, To love my country, its a must My grand told me that, To love my country, its a must
    <footer>Minister of Education</footer>
    </blockquote>
    </div>

        <div class="col-md-4">
        <blockquote>My grand told me that, To love my country, its a must My grand told me that, To love my country, its a must My grand told me that, To love my country, its a must
    <footer>Headmasters</footer>
    </blockquote>
    </div>

        <div class="col-md-4">
        <blockquote>My grand told me that, To love my country, its a must My grand told me that, To love my country, its a must My grand told me that, To love my country, its a must
    <footer>Teachers</footer>
    </blockquote>
    </div>
    </div>
    </div>
    </div> 
 </section> <br><br><br>
{% endblock %}



{% block learners %}
<section id="learners">
      <div class="section-content">
          <div class="container">
              <div class="col-md-6">
              <div class="learners-text">
               <h3>Contact Us </h3>
               <p class="lead"> Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. <br><br>

               Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.

               <h5> Follow us on the web </h5>
               <a href="#" class="btn btn-sm btn-secondary-outline">Facebook</a>
               <a href="#" class="btn btn-sm btn-secondary-outline">Twitter</a>
               <a href="#" class="btn btn-sm btn-secondary-outline">Youtube</a>
               </div>
            </div>

                        <div class="col-md-6">
              <div class="about-text">
               <h3>Self Improvements </h3>
               <p class="lead"> Cras ultricies ligula sed magna dictum porta. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. <br><br>

               Donec sollicitudin molestie malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.

               <h5> Follow us on the web </h5>
               <a href="#" class="btn btn-sm btn-secondary-outline">Facebook</a>
               <a href="#" class="btn btn-sm btn-secondary-outline">Twitter</a>
               <a href="#" class="btn btn-sm btn-secondary-outline">Youtube</a>

               </div> <br><br>
            </div> <br><br>
</section><br><br>
{% endblock %}


{% block ressources %}

        <br><br> 
<section id="ressources">
    <h1 class="display-3 text-center"> Ressources <h1> <br>
<div class="container">
<div class="row text-center">
   <div class="col-md-4">
       <img src="{% static "img/icon1.png" %}" class="img-reaponsive img-rounded text-center" id="res">
         <p class="lead">Similarity checking, online feedback, and rubric grading tools for evaluating student work</p>
       <button class="btn btn-success-outline">Read more</button>
   </div>

   <div class="col-md-4 text-center">
       <img src="{% static "img/icon2.png" %}" class="img-responsive img-rounded text-center" id="res">
         <p class="lead"> Similarity checking, online feedback, and rubric grading tools for evaluating student work</p>
       <button class="btn btn-success-outline">Read more</button>
   </div>

   <div class="col-md-4">
       <img src="{% static "img/icon3.png" %}" class="img-responsive img-rounded text-center" id="res">
       <p class="lead">Similarity checking, online feedback, and rubric grading tools for evaluating student work</p>
       <button class="btn btn-success-outline">Read more</button>
   </div>
</div>
</div>

</section>
{% endblock %}


{% block testmonials %}

 <div class="container">










    <h1 class="display-4 text-center"> Testimanials <h1><hr> <br>
<div class="row text-center">
<div class="col-md-3">
<div class="card card-inverse card-primary text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>ORIGINARITIES built us a powerful yet flexible product that allowed us to interact with our students and scan their works. Their expertise, experience, attention to detail, and customer focus are second to none.</p>
      <footer>Headmaster <cite title="Source Title"> Public School</cite></footer>
    </blockquote>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card card-inverse card-success text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>ORIGINARITIES built us a powerful yet flexible product that allowed us to interact with our students and scan their works. Their expertise, experience, attention to detail, and customer focus are second to none.

.</p>
      <footer>Teacher <cite title="Source Title">from High School</cite></footer>
    </blockquote>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card card-inverse card-info text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>ORIGINARITIES built us a powerful yet flexible product that allowed us to interact with our students and scan their works. Their expertise, experience, attention to detail, and customer focus are second to none.</p>
      <footer>Worker <cite title="Source Title">From min of Education</cite></footer>
    </blockquote>
  </div>
</div>
</div>


<div class="col-md-3">
<div class="card card-inverse card-warning text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>ORIGINARITIES built us a powerful yet flexible product that allowed us to interact with our students and scan their works. Their expertise, experience, attention to detail, and customer focus are second to none.</p>
      <footer>Parent <cite title="Source Title">From Rwanda</cite></footer>
    </blockquote>
  </div>
</div>
</div>

<button type="button-block" class="btn btn-primary-outline" data-toggle="modal" data-target="#myModel">Read More Testmonials</button>

</div>


</div>
</div>
</div>




{% endblock %}






{% block content %}
    <div class="row">
        <div class="col-sm-8">
        {% if user.is_authenticated %}

            {% else %}



            </div>
        </div>


        {% endif %}




        </div>
    </div>
{% endblock %}
