{% extends "base.html" %}

{% block content %}
    <h2>Links</h2>
    <p>
        Take a gander at these links to some of our useful website, interesting and useful resources, and more.
    </p>
    <div class="row">
        <div class="col-sm-6">
            <h3>Helpful WebSites:</h3>
            <ul>
                <li>
                    <p>
                        Open Education Ressources:<br>
                        <a href="http://thenewboston.com">www.boundless.com</a>
                    </p>
                </li>

                    <li>
                    <p>
                        Programming:<br>
                        <a href="http://thenewboston.com">www.thenewboston.com</a>
                    </p>
                </li>


                <li>
                    <p>
                        Application Development:<br>
                        <a href="http://www.udacity.com/">http://www.Udacity.com/</a>
                    </p>
                </li>
                <li>
                    <p>
                        Hardware and maintenance:<br>
                        <a href="https://computerhope.com">https://computerhope.com</a>
                    </p>
                </li>
                <li>
                    <p>
                        Software engeniring:<br>
                        <a href="http://quickmediasolutions.com/">http://quickmediasolutions.com/</a>
                    </p>
                </li>
                <li>
                    <p>
                        Cyber security.:<br>
                        <a href="http://futurelearn.com/">http://futurelearn.com/</a>
                    </p>
                </li>
                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>

                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>

                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>

                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>


                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>

                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>


                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>

                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>

                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>

                <li>
                    <p>
                        Artificial Intelligence:<br>
                        <a href="http://tutorialspoint.com/">http://tutorialspoint.com/</a>
                    </p>
                </li>


            </ul>
        </div>
        <div class="col-sm-6">
            <h3>Social pages:</h3>
            <p>
                Drop us a line on your favorite social network.
            </p>
            <p>
                <a href="https://www.facebook.com/Africa-Smart-Investments-Distribution-604024076423367/?ref=settings"
                   title="Asid on Facebook"
                   target="_blank">
                    <span class="fa fa-facebook fa-fw"></span>
                    Facebook
                </a>
            </p>
            <p>
                <a href="https://plus.google.com/asid"
                   title="Asid on Google+"
                   target="_blank">
                    <span class="fa fa-google-plus fa-fw"></span>
                    Google+
                </a>
            </p>
            <p>
                <a href="https://twitter.com/ASIDofficial"
                   title="Asid on Twitter"
                   target="_blank">
                    <span class="fa fa-twitter fa-fw"></span>
                    Twitter
                </a>
            </p>
        </div>
    </div>
{% endblock %}
