<!--

{% load static %}

<h4>Get the Asid App! Wait for it</h4>
<p>
    Download the official Asid app for both Android and Apple Store.
</p>
<br>
<div class="text-center">
    <a href="https://play.google.com/store/apps/details?id=com.twobuntu.twobuntu" target="_blank">
        <img src="{% static "img/google-play.png" %}"
             title="Asid for Android">
    </a>
    <a href="https://uappexplorer.com/app/com.ubuntu.developer.nathanosman.twobuntu-app" target="_blank">
    </a>
</div>



-->